# Python
*.pyc
*.pyo
__pycache__
*.pyd
.vscode

# Flask
instance/
*.db
*.sqlite3
config.py  # If it contains sensitive information

# Docker
*.log
*.pid
*.seed


# Virtual Environment
venv/
env/
ENV/

# Nginx
nginx.conf

# Uploads and database
/uploads/
Database/
Downloads
downloads

# System files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Log files
*.log

# Miscellaneous
*.bak
*.tmp