{% extends 'base.html' %}

{% block title %}Region List{% endblock %}

{% block headnav %}

<div class="navbar rounded-0 p-3 " style="background-color: #2c3e50;">

    <div>
        <h5>Account Name: {{ account.name }}</h5>
        <h5>ID: {{ account.account_id }}</h5>
    </div>

    <div class=" d-flex rounded-0 justify-content-end">
        <a href="{{ url_for('index') }}" class="btn btn-primary rounded-0">Back to Home</a>
        <button type="button" class="btn btn-secondary rounded-0" onclick="goBack()">Previous Page</button>
    </div>
</div>
<div class="navbar mb-3 p-3 justify-content-between" style="background-color: #38a3a5;">

    <h4 class="text-white">Regions List:</h4>

    <div class="col-md-5 rounded-0">
        <form method="POST" action="{{ url_for('add_region', account_id=account.id) }}" class="d-flex">
            <select class="form-control rounded-0 me-2" name="region_name" required>
                <option value="" disabled selected>Select a Region to Add</option>
                {% for region in regions %}
                <option value="{{ region }}">{{ region }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-secondary rounded-0">Add Region</button>
        </form>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-3" style="max-height: 500px; overflow-y: auto;">
    {% for region in account.regions %}
    <div class="col mb-4">
        <div class="card border-success p-3 rounded-0" style="background-color: #f8f9fa;">
            <a href="{{ url_for('region_detail', account_id=account.id, region_id=region.id) }}"
                class="text-decoration-none text-dark">
                <div class="d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-geo-alt-fill me-2" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                    </svg>
                    <span>{{ region.name }}</span>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>



<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock %}