{% extends 'base.html' %}

{% block title %}Account List{% endblock %}

{% block content %}
        <h2>Change Password</h2>
        <form method="POST">
            <div class="form-group">
                <label for="new_password">New Password</label>
                <input type="password" class="form-control rounded-0" name="new_password" required>
            </div>
            <button type="submit" class="btn btn-primary rounded-0">Change Password</button>
        </form>
        <a href="{{ url_for('index') }}" class="btn btn-link rounded-0">Back to Dashboard</a>

{% endblock %}