{% extends 'base.html' %}

{% block title %}Account List{% endblock %}

{% block content %}
<h1>Account: {{ region.account.name }}</h1>
        <h1>Region: {{ region.name }}</h1>
        
        <h2>Add Service</h2>
        <form method="POST" action="{{ url_for('add_service', account_id=account_id, region_id=region.id) }}" class="d-flex">
            
            <select class="form-control rounded-0 m-1" name="service_type" id="service_type"required>
                <option value="" disabled selected>Select a service type</option>
                {% for type in service_types %}
                    <option value="{{ type }}">{{ type }}</option>
                {% endfor %}
            </select>
            
            <input type="text" class="form-control rounded-0 m-1" name="service_name" placeholder="Service Name" required>
            <input type="text" class="form-control rounded-0 m-1" name="service_user" placeholder="User" required>
            <input type="text" class="form-control rounded-0 m-1" name="credentials" placeholder="Credentials" required>
            <button type="submit" class="btn btn-primary rounded-0 m-1">Add Service</button>
        </form>
        
        <h2>Services</h2>
        <ul class="list-group" style="overflow-y: auto; max-height: 500px;">
            {% for service in region.services %}
                <li class="list-group-item d-flex justify-content-between align-items-center  rounded-0 m-1">
                    <div class="row" style="width: 500px;">
                        <div class="col-md-6">
                            <strong>Service Type:</strong> {{ service.type }}<br>
                            <strong>Service Name:</strong> {{ service.name }}<br>
                        </div>
                        <div class="col-md-6">
                            <strong>User:</strong> {{ service.user }}<br>
                            <strong>Credentials:</strong> {{ service.credentials }}
                            
                        </div>
                    </div>
                    <a href="{{ url_for('edit_service', account_id=account_id, region_id=region.id, service_id=service.id) }}" class="btn btn-warning btn-sm  rounded-0">Edit</a>
                </li>
            {% endfor %}
        </ul>
        
        
        <a href="{{ url_for('account_detail', account_id=account_id) }}" class="btn btn-primary  rounded-0  m-1">Back to Account</a>
{% endblock %}
